[submodule "resources/styles"]
	path = resources/styles
	url = https://github.com/citation-style-language/styles.git
[submodule "resources/locales"]
	path = resources/locales
	url = https://github.com/citation-style-language/locales.git
