[submodule "resources/styles"]
	path = resources/styles
	url = git@github.com:citation-style-language/styles.git
[submodule "resources/locales"]
	path = resources/locales
	url = git@github.com:citation-style-language/locales.git
